<div class="small-33 tiny-33 all-25 button" data-date="{{dateAdded}}">
    <audio class="escaxe" id="{{id}}" preload="auto">
        <source src="assets/{{paths.mp3}}?v={{version}}">
        <source src="assets/{{paths.ogg}}?v={{version}}">
    </audio>
    <a name="{{id}}" href="#{{id}}" class="align-center">
        <div class="button-image">
            <img class="button" src="assets/imgs/button.svg">
        </div>
        <p class="button-text lead">{{text}}</p>
    </a>
</div>
