<!--button data-id="{{id}}"><button-->
<!-- div class="small-33 tiny-33 all-16">
    <img src="holder.js/600x480/ink/auto">
    <p class="quarter-top-space">"Sit down," Edwin counselled soothingly. "Granser's all right. He's just  gettin' to the Scarlet Death, ain't you, Granser? He's just goin' to  tell us about it right now. Sit down, Hare-Lip. Go ahead, Granser."</p>
</div -->


<div class="small-33 tiny-33 all-16 button" data-date="{{dateAdded}}">
    <audio class="escaxe" id="{{id}}" preload="auto">
        <source src="assets/{{paths.mp3}}">
        <source src="assets/{{paths.ogg}}">
    </audio>
    <a href="#{{id}}" class="align-center">
        <div class="button-image">
            <img class="button" src="assets/imgs/{{buttonImg}}">
            <span class="new-label ink-label green">NEW</span>
        </div>
        <p class="button-text lead">{{text}}</p>
    </a>
</div>
